.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.page-header{
	background-image: url('https://www.facebook.com/photo.php?fbid=3999666145894&l=a229a8f437');
}
