{% extends 'base.html' %} {% block page_content %}
<a href='{{url_for("newLoc")}}'>Create new foodie location</a>
<div class='masonry'>

  {% for location in locations %}

  <div class='col-sm-4 responsive item' href='{{url_for('showOneLoc', loc_id=location.id)}}'>
    <h3 href='{{ url_for("showOneLoc", loc_id=location.id) }}'>{{location.name}}</h3>
    {% if location.description %}
      {{location.description}}
    {% endif %}
    <img src={{ location.pic_url }} href='{{url_for('showOneLoc', loc_id=location.id)}}' class='img-responsive img-thumbnail center-block img-rounded' alt='{{location.name}}' />
    <a class='btn btn-primary' role='button' href='{{ url_for("showOneLoc", loc_id=location.id) }}'>See this Location</a></br>

    <div class='row container'>
      <a href='{{url_for('editLoc', loc_id=location.id)}}'>Edit</a>
        <a href='{{url_for('deleteLoc', loc_id=location.id)}}'>Delete</a>
    </div>
  </div>
      {% endfor %}
</div>



  </div>
  {% endblock %}
